:root {
  --white: #ffffff;
  --blue: #002868;
  --gray-dark: #343a40;
  --bg-display: -webkit-linear-gradient(
    top,
    rgb(84, 97, 139) 0%,
    rgb(156, 142, 133) 100%
  );
}

body {
  font-family: "Chivo", sans-serif, serif, cursive, monospace;
  font-size: 1.3rem;
  font-display: fallback;
  letter-spacing: 1.5px;
  background-color: #343a40;
  color: var(--white);
}

#tm-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/BG-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.3s ease;
  filter: brightness(0.4);
}

#tm-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-header {
  display: block;
}
.logo-header p {
  text-align: end;
}
.logo-h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Baskervville", sans-serif, serif, cursive, monospace;
}

h1 {
  font-size: 6rem;
  margin-left: 12px;
  color: var(--white);
}

h2 {
  font-size: 2.7rem;
  text-shadow: 0.7px 0.7px var(--blue);
}

h3 {
  font-size: 2rem;
  text-shadow: 0.7px 0.7px var(--blue);
}

p {
  font-size: 1rem;
}
a {
  color: var(--white);
}
.detail-svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--white);
  flex-direction: column;
  padding: 20px 40px;
}
.detail-svg-img {
  filter: invert(100%);
  width: 50px;
  height: 50px;
}

.detail-svg-text {
  display: block;
  margin: auto;
  padding: 10px;
  color: var(--white);
  font-size: 12px;
}

section {
  min-height: 100vh;
  max-width: 960px;
  margin: auto;
}
.contact-info {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.contact-info-icon {
  margin-bottom: 15px;
}

.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
  padding-left: 0;
}
.contact-page-form.contact-form input {
  margin-bottom: 5px;
}
.contact-page-form.contact-form textarea {
  height: 110px;
}

.contact-info-icon {
  width: 15px;
  height: auto;
}
.contact-info-text p {
  margin-bottom: 0px;
}
.contact-info-text h2 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-text span {
  display: inline-block;
  width: 100%;
  font-size: 12px;
}

.contact-page-form input {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  border-radius: 0;
}

.contact-page-form .message-input {
  display: inline-block;
  width: 100%;
  padding-left: 0;
}
.single-input-field textarea {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #f9f9f9;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
}
.single-input-fieldsbtn {
  background: transparent;
  padding: 10px 0;
  width: 100%;
  margin-top: 20px;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.5rem;
  text-shadow: 0.7px 0.7px var(--blue);
}
.single-input-fieldsbtn:hover {
  background: var(--bg-display);
  transition: all 0.4s ease-in-out 0s;
}
.contact-page-form {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.contact-page-map {
  margin: auto;
}
.contact-page-form form {
  padding: 20px 15px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
