:root {
  --white: #ffffff;
  --blue: #1c2636;
  --red: #ab3c3c;
  --gray-dark: #343a40;
  --bg-display: #1c2636;
}

body {
  font-family: "Chivo", sans-serif, serif, cursive, monospace;
  font-size: 16px;
  color: var(--white);
  position: relative;
  letter-spacing: 1.1px;
  background-color: #343a40;
}

h1 {
  font-size: 6rem;
  margin-left: 12px;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.6rem;
}

a,
button {
  transition: all 0.3s ease;
  color: var(--white);
}
a:hover,
a:focus {
  color: var(--white);
  text-decoration: none;
  outline: none;
  transition: all 0.3s ease;
  text-shadow: 1px 0px 1px var(--white);
}
p {
  line-height: 1.5;
  font-size: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

li {
  font-size: 1rem;
}
.lista-mision {
  padding: 0.8rem;
}

i {
  font-size: 1rem;
}

.centrar {
  text-align: center;
}

.logo-h1 {
  display: flex;
  align-items: center;
  font-family: "Baskervville", sans-serif, serif, cursive, monospace;
}

#tm-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/BG-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.3s ease;
  filter: brightness(0.4);
}

#tm-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#tm-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

.bounce {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  display: flex;
  justify-content: center;
  filter: blur(0);
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.wordCarousel {
  font-size: 20px;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  padding: 10px 10px;
  height: 45px;
  margin-bottom: 45px;
  display: flex;
  border: solid 1px;
  justify-content: center;
  align-items: center;
}
.flip2 {
  animation: flip2 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.img-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-main-content {
  display: flex;
  align-items: center;
  padding: 50px 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.tm-site-header-col {
  display: flex;
  align-items: center;
}

.tm-site-header {
  margin: 10px;
  text-align: right;
  width: 100%;
}

.tm-nav ul {
  padding-left: 0;
  display: block;
}

.tm-nav li {
  list-style: none;
  display: inline-block;
  border: 1px solid var(--white);
  margin: 10px;
}

.tm-nav-link {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  height: 165px;
  text-align: center;
  border: 1px solid var(--white);
  cursor: pointer;
  position: relative;
}

.tm-nav-text {
  margin-bottom: 5px;
}

.fa-3x {
  font-size: 2.5em;
}

.product {
  background: var(--bg-display);
  transition: all 0.3s ease;
}

.product:hover {
  background: transparent;
  transition: all 0.3s ease;
}

.underline-icon {
  padding: 0 15px;
}

.tm-nav-icon {
  display: block;
  margin: auto;
  width: 96px;
}
/* Expanding Grid Items from Codrops */
.tm-page-title {
  font-weight: 300;
}
.content {
  max-width: 370px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  margin: 10px;
}
.product {
  position: relative;
  cursor: pointer;
}

.product__bg {
  width: 100%;
  height: 100%;
  top: 0px;
}

.product__bg,
.product__description {
  opacity: 0;
  position: absolute;
}

.product__description {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.details {
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 15px;
  display: none;
}

.details > * {
  position: relative;
  opacity: 0;
}

.details--open {
  pointer-events: auto;
}

.details__bg {
  width: 100%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.details__bg--down {
  background: var(--bg-display);
}

.details__bg {
  padding: 50px;
  transform-origin: 0 0;
}

.details__close {
  position: absolute;
  top: 5px;
  right: 0;
  border: 0;
  background: none;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 1001;
  filter: invert(100%);
}

.details__close:focus {
  outline: none;
}

.detail-svg-box {
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 1px var(--white);
  flex-direction: column;
  padding: 15px 30px;
  max-width: 250px;
}
.detail-svg-img {
  filter: invert(100%);
  max-width: 200px;
}

.detail-svg-text {
  display: block;
  margin: auto;
  padding: 10px;
  color: var(--white);
}

/* Projects */

.tm-slider-img-link {
  padding-left: 10px;
  padding-right: 10px;
}

.slick-dots li button:before {
  font-size: 20px;
  color: var(--white);
  opacity: 1;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--red);
}

/* Contact */
.form-control-bsi {
  font-size: 1.1rem;
  border-radius: 0;
  border: none;
  padding: 0.75rem;
  color: var(--gray-dark);
}

.form-control-bsi:focus {
  background-color: var(--white);
  border-color: transparent;
  color: var(--gray-dark);
}

.tm-col-email {
  padding-left: 0;
}

.tm-btn-submit {
  background-color: var(--blue);
}

.tm-btn-gray {
  background-color: var(--bg-display);
  color: var(--white);
}

.tm-btn-gray:hover {
  background-color: var(--bg-display);
  color: var(--white);
}

.btn {
  padding: 0.5rem 2.4rem;
  font-size: 1.2rem;
  border-radius: 0;
}

.btn-primary {
  border-color: transparent;
}

.btn-primary:hover {
  background-color: var(--blue);
  border-color: transparent;
}

/* Footer */
footer {
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}

.tm-main-content.tm-footer-relative {
  flex-direction: column;
}
.tm-main-content.tm-footer-relative footer {
  position: relative;
  bottom: 0;
  margin-top: 50px;
}

.tm-copyright-text {
  display: inline-block;
  padding: 10px 30px;
}
/* media responsive */
@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 767px) and (max-width: 991px), (max-width: 440px) {
  .tm-nav-link {
    width: 145px;
    height: 145px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 450px;
  }
  .content {
    margin-left: auto;
    margin-right: 0;
  }
  .tm-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .grid {
    justify-content: flex-end;
  }
  .tm-col-email {
    padding-left: 15px;
  }
}

@media (max-width: 600px) {
  .tm-main-content {
    flex-direction: column;
  }
  .details__bg {
    padding: 55px 40px;
  }
  .slick-dots li button:before {
    font-size: 15px;
  }
  @media (max-width: 500px) {
    .slick-dots {
      bottom: -58px;
    }
  }

  @media (max-width: 500px) {
    .slick-dots {
      bottom: -58px;
    }
  }
  @media (max-width: 450px) {
    .tm-nav-icon {
      width: 60px;
    }
  }

  @media (max-width: 320px) {
    .details__bg {
      padding: 40px 10px 10px 10px;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
  }

  footer {
    position: relative;
    bottom: 0;
  }
}

@media (max-width: 419px) {
  .tm-nav-link {
    width: 120px;
    height: 120px;
  }
}

/** Grid servicio **/
.grid-servicio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
@media (min-width: 768px) {
  .grid-1 {
    grid-template-columns: 3;
  }
}

.producto {
  text-align: center;
}
